<div class="row">
  <div class="span6">
    <h2 id="itinerary_title">Your Plans</h2>
  </div>
  <div class="span2">
    <%= link_to "Create itinerary", new_itinerary_path, class: "btn btn-primary" %>
  </div>
</div>
<div id="itinerary_list">
  <% if @itineraries == [] %>
    <p id="empty_itinerary_message"><%= @empty_message %></p>
  <% else %>
    <% @itineraries.each do |itinerary| %>
      <div class="itinerary_item span2 well" style="text-align: center">
        <h3><%= link_to itinerary.name, itinerary_path(itinerary) %></h3>
        <%= link_to (image_tag itinerary_photo_url(itinerary.id)), itinerary_path(itinerary) %>
      </div>
    <% end %>
  <% end %>
</div>  
  