<div class="span6">
  <p>Congratulations! You just bought a great LivingSocial Families deal for <span class="handwriting">whitewater rafting</span> in <span class="handwriting">Ashland, OR</span>! It's going to be so much fun for <span class="handwriting">John and the boys</span> - but what will we do the rest of the day? I've never been to <span class="handwriting">Ashland</a>...</p>

  <p>Use ItineraryPlanner to plan your entire day - where to go, what to do, who to see - and turn your LivingSocial deal into a day the gang will never forget.</p>
</div>